
body {
    background: white;
    color: black;
}

.box {
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}

.navbar, .nav-link {
    color: black !important;
}